body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #d0d2d6;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.text-subscribe {
    font-style: italic;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    font-size: .8em;
    line-height: 1.2em;
}

.image img {
    width: 100%;
}

.warning {
    font-weight: bold;
    color: darkred;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: grey;
}

.form-group input.has-icon {
    padding-right: 35px;
}

.error {
    color: darkred;
}

div.error {
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 13px;
}

input.error {
    border-color: darkred;
}

textarea {
    resize: none;
}

.modal-content {
    border-radius: 30px;
    padding: 40px 50px;
}

.modal-header {
    padding: 0;
    margin-bottom: 10px;
    border: none;
}

#point-modal .modal-content {
    padding: 20px;
    background-color: black;
    color: white;
    opacity: 0.7;
}

#point-modal .image {
    border: 2px solid white;
    margin-bottom: 10px;
}

#request-modal .modal-content {
    border: none;
    background-size: auto 100%;
}

.form-group {
    margin-bottom: 1.2rem;
}

button.btn {
    width: 190px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 20px;
}

button.btn:focus,
.button.btn:active,
input:focus,
input:active,
select:focus,
select:active {
    outline: none !important;
    box-shadow: 0 0 10px grey !important;
}

input:hover,
select:hover,
button.btn:hover {
    border-color: grey;
}

label {
    font-size: 15px;
    margin-bottom: 3px;
}

.buttons-block > button.btn:last-child {
    margin-left: 5px;
}

button.btn.btn-primary {
    color: white;
    background: black;
    /*background: linear-gradient(to right, #f47734, #bf212f);*/
}

button.btn.btn-secondary {
    width: 192px;
    color: black;
    background: none;
}

button.btn > span {
    margin-right: 5px;
}

#main-container {
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px 20px 20px;
    background-color: white;
}

#top-line {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#top-line .logo {
    width: 120px;
    margin-top: 18px;
    margin-left: 20px;
}

#top-line .buttons-block {
    text-align: center;
}

#top-line .buttons-block i {
    font-size: 20px;
    margin-left: 30px;
    color: black;
}

#top-line .buttons-block i .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bc202e;
    margin-top: -5px;
    margin-left: -5px;
    position: absolute;
}

.main-nav {
    margin-top: 35px;
    margin-right: 10px;
    padding: 0;
    text-align: right;
    display: table;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-collapse .nav-item {
    margin-left: 0;
}

#navbar-main-nav {
    flex-grow: unset;
}

.navbar a {
    color: #9d9d9d;
}

.nav-item.active a {
    color: black;
    font-weight: bold;
}

.navbar-toggler {
    background: white;
}

.rounded-block {
    width: 100%;
    position: relative;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    overflow: hidden;
    padding: 30px;
}

.rounded-block.home {
    padding: 50px;
}

.rounded-block h1 {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.rounded-block p {
    font-size: 18px;
    margin-bottom: 3rem;
}

.rounded-block.orange {
    background-color: #f9ae42;
}

.rounded-block.cyan {
    background-color: #b4c7e7;
}

.rounded-block.blue {
    color: white;
    background-color: #0070c0;
}

.rounded-block.black {
    color: white;
    background-color: black;
}

.rounded-block.white {
    color: black;
    background-color: white;
    border: 2px solid lightgrey;
}

.rounded-block.black h1 {
    border-color: white;
}

.rounded-block .link {
    width: 70px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.rounded-block a.link-cover {
    color: black;
    text-decoration: none;
}

.rounded-block.blue .link,
.rounded-block.black .link {
    border-color: white;
}

.rounded-block.blue a,
.rounded-block.black a {
    color: white;
}

.rounded-block .bottom-block {
    width: calc(100% - 100px);
    position: absolute;
    bottom: 50px;
}

.rounded-block .title {
    font-size: 20px;
    margin-bottom: 35px;
}

#map-image-block {
    background: url("../storage/images/map.jpg") no-repeat;
    background-size: cover;
}

#map-image-block .link {
    border-color: white;
    background-color: white;
}

#map-image-block .link i {
    color: black;
}

#map {
    padding: 0;
}

@media (max-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        width: 200px;
        position: absolute;
        right: 0;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    #top-line .buttons-block {
        width: 250px;
    }

    #top-line .buttons-block button.btn {
        width: 80%;
        height: 35px;
        font-size: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #top-line .buttons-block button.btn:first-child {
        margin-bottom: 3px;
    }

    #top-line .buttons-block i {
        margin-left: 3px;
    }

    #filters-block {
        height: auto !important;
    }
}

@media (max-width: 575px) {
    #top-line {
        align-items: center;
    }

    #top-line .logo {
        margin-top: 0;
        width: calc(30% - 20px);
        margin-right: 5px;
    }

    .main-nav {
        margin-top: 0;
    }

    #top-line .buttons-block {
        width: calc(70% - 20px);
        margin-right: 5px;
    }

    #top-line .buttons-block button.btn {
        font-size: 10px;
        padding: 0;
    }

    #top-line .buttons-block button.btn > span {
        display: none;
    }
}

@media (max-width: 360px) {
    #top-line .logo {
        display: none;
    }

    #top-line .buttons-block {
        width: calc(100% - 40px);
    }
}

@media (max-width: 250px) {
    #top-line .buttons-block button.btn {
        font-size: 8px;
    }
}

@media (max-width: 250px) {
    #top-line .buttons-block {
        display: none;
    }
}

